* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Verdana, sans-serif;
  font-size: 13px;
  /* border: 1px solid yellowgreen; */
}

header,
footer {
  height: 65px;
  width: 100%;
  background: #121212;
  color: #ffffff;
  padding: 10px 0px;
}

.headerContent,
.footerContent {
  min-width: 800px;
  max-width: 1140px;
  height: 45px;
  margin: 0px auto;
  display: flex;
}

.authorization {
  display: flex;
  margin-left: auto;
}

.auth-button {
  color: #121212;
  text-shadow: 0 1px 2px #44a670;
  font-weight: bold;
  font-size: 12px;
  background-color: #008246;
  border: 1px solid;
  border-color: #00bb00 #006400 #006400 #00bb00;
  border-radius: 10px;
  padding: 5px 12px;
  margin: 6px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.auth-button:active {
  border-color: #006400 #00bb00 #00bb00 #006400;
}

.auth-button:hover {
  background-color: #00944f;
}

.footerContent {
  display: flex;
}

main {
  background: #7caaff;
}

.spacer {
  height: 20px;
}

.container {
  min-height: 1080px;
  min-width: 800px;
  max-width: 1140px;
  margin: 0px auto;
  display: flex;
  border-radius: 8px;
  box-shadow: -5px 5px 20px -10px #000000;
}

.sidebar {
  background: linear-gradient(270deg, #bbbbbb, #f1f0ed 10%);
  width: 80px;
  border-radius: 8px 0px 0px 8px;
}

.sidebarBlock {
  border: 1px solid lightgray;
  background-color: #ffffff;
  border-radius: 8px;
  margin: 15px 25px 15px 15px;
}

.content {
  background-color: #ffffff;
  border-radius: 0px 8px 8px 0px;
  flex: 1;
}

.post {
  margin: 15px;
  border: 1px solid lightgray;
  border-radius: 8px;
  padding: 15px;
}

.post-header {
  font-size: 16px;
}
.post-author {
  font-size: 11px;
  color: gray;
  border-bottom: 1px solid lightgray;
  margin-bottom: 10px;
  padding-bottom: 8px;
}

.post-author a {
  font-size: 11px;
  color: #40aabb;
}

.post-content {
  text-align: center;
}

.post-content p {
  margin-bottom: 5px;
}

#chat {
  height: 300px;
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
  overflow: auto;
  /* background-color: black; */
  color: black;
}

/* .message * {
  border: 1px solid black;
} */

.message {
  border: 1px solid #dadada;
  border-radius: 5px;
  margin: 5px 10px;
  padding: 5px;
}

.message-info {
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.user-photo {
  display: flex;
  width: 40px;
  height: 40px;
  border: 1px solid #a5cae4;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}

.user-photo img {
  background-color: black;
  border-radius: 2px;
  width: 34px;
  height: 34px;
}

.user-info {
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: left;
  border-top-right-radius: 6px;
  height: 34px;
  background-color: #f0f7fc;
  margin-right: 2px;
  padding-left: 6px;
}

.user-info span,
a {
  font-size: 13px;
}

.bottom-border {
  margin-top: 4px;
  border-bottom: 1px solid #dbe8ed;
}

.user-name {
  color: #3333ff;
}

.sending-time {
  color: #969696;
}

.message-content {
    display: block;
    width: 500px;
    flex-shrink: 0;
    text-align: left;
    padding: 5px 3px 3px 3px;
    word-wrap: break-word;
}

#chat-input {
    width: 100%;
    height: 60px;
    padding: 4px 10px;
    border: 1px solid gray;
    border-radius: 8px;
    resize: none;
    overflow: auto;
  }